/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,700;0,800;1,600&display=swap');
/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    background-color: var(--main-bg-color);
    margin: 0;
    min-height: 100svh;
    width: 100%;
    
}

app-root {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100svh;
    width: 100%;
    /* border: 2px solid red; */
    background-color: #dcdcdc;
}