/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,700;0,800;1,600&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    box-sizing:border-box

}


body {

    margin: 0;
    min-height: 100svh;
    width: 100%;
    height: 100%;
    
}

app-root {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100svh;
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgb(235, 235, 235);

}
app-all-posts{
    min-height: 100svh;
    width: 100%;  display: flex;
    flex-direction: column;
    
}
app-landing-page{
    background: url('./assets/Cool-Background-GIF.gif') ;
    background-repeat: no-repeat;
    background-size: cover;
    flex:1;
    display:flex;
    flex-direction: column;
    
    
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
