.signup-container{
    /* border:2px solid green; */
    width:100%;
    height:800px;
    display: flex;
}
.icon-feature-div{
    display: flex;
    align-items: center;
    gap:10px; 
}
.welcome-note-div{
    color:white;
    background-color: #4C94B5;
    height: 100%;
    flex:0.5;
}
.headline-icon-wrapper{
    display: flex;
    flex-direction: column;
    height:100%;
    /* border:2px solid black; */
    justify-content: center;
    gap:2rem;
    align-items: center;
}
.headline{
    font-size: 64px;
    font-family:'Inter' , cursive;
    
}
.icon-feature-div>p{
    font-size: 32px;
}
.icon-feature-div>svg{
    width:50px;
    height:50px;
    border-color:white;
}

h3{
    font-size: 4.25rem;
    font-weight:700;
}






.form-wrapper{
    flex:0.5;
    background-color: #f3f3f3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    margin-top:-1rem;
    box-shadow: 2px 2px solid gray;
}
.label-input-group{
    width: 100%;
    /* border:2px solid red; */
    margin: 0.5rem
}
label{
    font-weight: 700;
}


input{
    width:650px;
    height:64px;
    border:2px solid #F4F3F3;
    border-radius:20px;
    filter: drop-shadow(0 0 0.75rem gray)

}

.sign-up-btn{
    background-color:#4C94B5 ;
    color:white;
    border: none;
}
.sign-up-btn:hover{
    background-color:transparent;
    color:black;
    border: 2px solid#4C94B5;
}
.form-footer>a{
    font-weight:700;
    cursor: pointer;
    text-align:center;
}

.form-footer>a:hover{
    color:#4C94B5;

}